.DS_Store
Doxyfile
MacMakefile.Release
Makefile
Makefile.Debug
Makefile.Release
MacMakefile
MacMakefile.Debug
debug
distribute
release
object_script.backup.Release
object_script.backup.Debug
Info_mac.plist
ressources/qt_menu.nib
Thumbs.db
backup.app
backupwindow_.ui
test.qip
.sync.ffs_db
*.pro.user
*.pro.user
*.6pre1
*.log
backup.cfg

backupMini.pro

.qmake.stash
